* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

.App {
  display: flex; 
  flex-flow: column;
  align-items: center;
}

.month {
  height: 900px;
  width: calc(900px * 1.414);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background-color: rgba(0, 255, 255, 0.336);
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.month-header {
  height: 17%;
  width: 100%;
  padding-top: 1em;
  background-color: rgba(240, 255, 255, 0.527);
  text-align: center;
}

.day-grid-panel {
  height: 80%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.day {
  height: 20%;
  flex: 0 0 14.2857%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(240, 255, 255, 0.8);
  /* padding: 1em; */
}

.month-footer {
  height: 3%;
  width: 100%;
}